{{ define "main" }}
  <!-- Header -->
  {{ partial "header" . }}

  <div class="container">
    <h3 class="mt-3"><b><a href="{{ .Permalink }}">{{ .Title }}</a></b></h3>
    <div class="blog-title my-4">
      <h6>
        {{ partial "fecha-es.html" .Date }}
        &nbsp;&nbsp;
        {{ range .Params.tags }}
          <span class="badge bg-success">{{ . }}</span>
        {{ end }}
      </h6>
    </div>
    <div class="panel">
      <div class="panel-body">
        <div class="blogpost">
          {{ .Content }}

          <div class="text-center my-4">
            <a href='https://ko-fi.com/williamgavidia' target='_blank'>
              <img height='36' style='border:0px;height:36px;'
                src='https://storage.ko-fi.com/cdn/kofi2.png?v=3'
                alt='Invítame un café en ko-fi.com' />
            </a>
          </div>

          {{ $related := .Site.RegularPages.Related . | first 3 }}
          {{ with $related }}
            <div class="related-posts mt-4 py-3">
              <h5>Related Posts</h5>
              {{ range . }}
                <div class="row">
                  <div class="col-4">
                    <h6 style="text-align: right">
                      {{ partial "fecha-es.html" .Date }}
                    </h6>
                  </div>
                  <div class="col-8">
                    <h6 style="text-align: left">
                      <b><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></b>
                    </h6>
                  </div>
                </div>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
      <div class="disqus">
        {{ partial "disqus.html" . }}
      </div>
    </div>
  </div>
{{ end }}